.gradle
/captures
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
.idea
*.iml
*.log
reports
px-checkout/jacoco.exec
config/
BackFlowTest.java
BackWithExclusionFlowTest.java
CFTCardTest.java
ChangePaymentMethodTest.java
CreditCardWithInterestTest.java
CreditCardWithNoInterestTest.java
DefaultInstallmentsTest.java
ExclusionPaymentMethodTest.java
NewCardTest.java
OfflinePaymentMethodTest.java
UniquePaymentMethodTest.java
UniquePaymentTypeTest.java
